<H1>User Profile:</H1>
<H2>Events hosted by <%= @user.email %> </H2>

<div id ="events">
    <% @created_events.each do |event| %>
        <div id="event">
            <h3 id="event-title"><%= link_to event.name, event %><br></h3>
            <h4 id="date">Date: <%= event.date %></h4> 
            <% if event.image_url.present?%>
                <div id="image"> 
                    <img src='<%= event.image_url %>'  width="400"> 
                </div>
                <% end %>
            <p id="desc">
                <%= event.desc %><br>
            </p>
        </div>
        <% end %>
</div>

<H2>Events you are attending:</H2>
<H3>Future Events:</H3>

<div id ="events">
    <% @future_events.each do |event| %>
        <div id="event">
            <h3 id="event-title"><%= link_to event.name, event %><br></h3>
            <h4 id="date">Date: <%= event.date %></h4> 
            <% if event.image_url.present?%>
                <div id="image"> 
                    <img src='<%= event.image_url %>'  width="400"> 
                </div>
                <% end %>
            <p id="desc">
                <%= event.desc %><br>
            </p>
        </div>
        <% end %>
</div>

<H3>Past Events:</H3>
    <% if @past_events.present? %>
        <div id ="events">
            <% @past_events.each do |event| %>
                <div id="event">
                    <h3 id="event-title"><%= link_to event.name, event %><br></h3>
                    <h4 id="date">Date: <%= event.date %></h4> 
                    <% if event.image_url.present?%>
                        <div id="image"> 
                            <img src='<%= event.image_url %>'  width="400"> 
                        </div>
                        <% end %>
                    <p id="desc">
                        <%= event.desc %><br>
                    </p>
                </div> 
            <% end %>
        </div>
    <% else %>
        <div>
            <p>You have not yet attended an event.</p>
        </div>
    <% end %>