<div id ="event-show">
    <h1 id="event-title"><%= @event.name %><br></h3>
    <h4 id="host-name">Date: <%= @event.date %></h4> 
    <% if current_user.id == @event.creator_id %>
        <h4 id="host-name">You are hosting this event</h4>
        <div>
            <%= link_to "Edit This Event", edit_event_path(@event.id) %> 
        </div>
        <div>
            <%= link_to "Delete This Event", event_path(@event.id), data: {turbo_confirm: 'You are deleting this event. Are you sure?', turbo_method: :delete } %> 
        </div>
    <% else %>
        <h4 id="host-name">Hosted by <%= @event.creator.email %></h4>
    <% end %>

    <% if @event.image_url.present?%>
        <div id="image"> 
            <img src='<%= @event.image_url %>'  width="400"> 
        </div>
        <% end %>
    <p id="desc">
        <%= @event.desc %><br>
    </p>
</div>
<div>
<h2 id="event-attendees">Who's going:</h2>
    <% @event.attendees.each do |attendee| %>
        <ul>
            <li><%= attendee.email %></li>
        </ul>
    <% end %>
</div>


<% unless @event.attendees.include?(current_user) %>
        <%= form_with model: @event_ticket do |form| %>
            <%= form.hidden_field :attendee_id %>
            <%= form.hidden_field :attended_event_id %>
            <%= form.submit value: "Attend the event!" %>
        <% end %>
<% else %>
    <div>
        You are attending the event. <br />
         <%= link_to "Click to no longer attend the event", event_ticket_path(@event.id) data: {turbo_confirm: 'You are no longer attending this event. Are you sure?', turbo_method: :delete } %>
    </div>
<% end %>